<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>星鹤家族深渊数据统计</title>
</head>
<body>
<h1>测试版本</h1>
<form name="fileForm" id="fileForm" method="post" enctype="multipart/form-data">
    <p><input type="file" name="file"></p>
    <p><input type="button" value="提交" onclick="send()"></p>
</form>
<div id="orders">
    <h2>文件解析如下：</h2>
</div>

<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script>
    function send() {
        const fd = new FormData(document.getElementById("fileForm"));
        $.ajax(
            {
                url: "/read2",
                type: "POST",
                data: fd,
                dataType: "Json",
                processData: false,  // 告诉jQuery不要去处理发送的数据
                contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                success: function (map) {
                    for (const key in map) {
                        //将map中的数据显示到页面上
                        const order = document.createElement('p');
                        //如果map[key].isLucky=true,则显示为红色
                        if (map[key].isLucky) {
                            order.style.color = 'red';
                        }

                        if (map[key].score >= 1) {
                            order.style.color = 'green';
                        }
                        const text =
                            document.createTextNode(JSON.stringify(map[key]).replace("rank", "排名").replace("score",
                                "积分").replace("isLucky", "是否抽中躺位").replace("name", "名字").replace("times", "次数").replace("damage", "伤害"));
                        order.appendChild(text);
                        document.getElementById('orders').appendChild(order);
                    }
                }
            });

        // 创建一个虚拟的链接元素
        var downloadLink = document.createElement('a');
        downloadLink.href = '/getFile'
        downloadLink.download = '1.xlsx';
        console.log(downloadLink.href)
        downloadLink.click();
    }
</script>
<script>
    function show(id) {
        const lis = document.getElementById(id);
        if (lis.style.display === 'block')
            lis.style.display = 'none';
        else lis.style.display = 'block';
    }
</script>
</body>
</html>